::ng-deep .mat-toolbar {
  background: #191e25;
}

.namePortfolio {
  display: flex;
  padding-top: 55px;
  font-weight: bold;
  font-size: 1.8em;
  font-family: Poppins,Arial,Helvetica,sans-serif;
}

.btn-Download {
  min-width: 120px;
  background-color: #fa7e1e;
}

.btn-end {
  justify-content: end;
  display: grid;
}
