::ng-deep .mat-toolbar {
  background: #191e25;
}

.example-spacer {
  flex: 1 1 auto;
}

.name {
  display: flex;
  padding-left: 50px;
  padding-top: 55px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Poppins,Arial,Helvetica,sans-serif;
}

.btn-Download {
  min-width: 120px;
  background-color: #fa7e1e;
}

.btn-end {
  justify-content: end;
  display: grid;
}
