<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="information">
          <p class="name">David Tozo</p>
          <p class="title">Front-End Developer</p>
          <p class="resume">Formado em Análise e desenvolvimento de sistemas e cursando Inteligência Artificial,
            Sou desenvolvedor Front-End Angular com conhecimentos em HTML, CSS, JavaScript, TypeScript, SQL Server.
            Também possuo experiencia com Mainframe, Cobol, Cics, IMS, DB2 e Python voltado ao aprendizado de máquina.</p>
        </div>
      </div>

      <div class="col-6">
        <div class="avatar-stroke ">
          <img class="imagem" src="/assets/Foto_David_Tozo.jpg" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-container">
        <a class="circle-link bg-github" title="CLI" href="https://github.com/DavidTozo" target="_blank" rel="noopener">
          <img src="/assets/icons/github-icon.svg" alt="Github">
        </a>

        <a class="circle-link bg-linkedin" title="Augury" href="https://www.linkedin.com/in/david-tozo-5496488b/" target="_blank" rel="noopener">
          <img src="/assets/icons/linkedin-icon.svg" width="25" height="25" alt="Facebook">
        </a>

        <a class="circle-link bg-facebook" title="Augury" href="https://www.facebook.com/david.tozo" target="_blank" rel="noopener">
          <img src="/assets/icons/facebook-icon.svg" width="25" height="25" alt="Facebook">
        </a>

        <a class="circle-link bg-instagram" title="Augury" href="https://www.instagram.com/david_tozo/?hl=pt-br" target="_blank" rel="noopener">
          <img src="/assets/icons/instagram-icon.svg" width="25" height="25" alt="Facebook">
        </a>

        <a class="circle-link bg-mail" title="Augury"  target="_blank" rel="noopener">
          <img src="/assets/icons/mail-icon.svg" width="25" height="25" alt="Facebook">
        </a>
      </div>
    </div>
  </div>
</section>
